*.class

# Package Files #
*.war
*.ear

Customer Journeys.analyzer/output.html
instances/.project
.metadata
bin/

# Article Folder #
article/*.aux
article/*.bbl
article/*.blg
article/*.log
article/*.synctex.gz
article/*.toc

